 header {
    
    border:2px solid #1a1717;
    position: sticky;
    top: 0;
    background-color: #1a1717;
    color: aliceblue;
    /* height: 60px; */
    padding: 0px;
    margin: 0px;
    align-items: center;
    z-index: 1;
    
}
  .Header_logo-part {
   text-align: center;
    justify-content: space-evenly;
    line-height: 50px;
 }
.storefrontIcon {
    color: #fd7505f8;
    font-size:40px !important; 
    margin-right: 20px;
}
.header-tittle {
    color: rgb(253, 251, 251);
    align-items: center;
    font-size: 30px;
}
.Header_Search_Bar {
text-align: center;
 font-size: 23px;
}
.input-search-bar {
    width:95% ;
    margin: 10px 0px 7px;
    border-radius: 3px;
}
.header-search-icon{
    color: #1a1717;
    background-color: #fc811c;
    width:5% !important ;
    font-size: 37px !important;
    margin: 5px 0px 11px 0px !important;
    border-radius: 3px;
}

.header-nav-item {
    
    margin-top: 10px;
}
.header-nav-item-basket-section{
    justify-content: space-evenly;
    line-height: 48px;
    
}
.shoppingBasketIcon  {
    font-size:35px  !important;
    color: rgb(255, 251, 0);
}
.header-nav-item-count {
    margin-left: 10px !important;
    font-size: 25px;
    color: white;
}
   