 .Login_form {

     width: 30%; 
    height: 450px;
    margin-top:70px ;
    text-align: justify;
    /* border :2px solid #0a35f5dc; */
    /* text-align: justify !important;
   */
 }
 .logo_StoreIcon {
    font-size: 40px !important; 
    color: orange;
 }
 .Logo_tittle {
    font-size: 30px ;
    margin-left: 5px;
 }
 
 
 
.login_continer {
     /* margin-left: 550px;
    margin-right: 550px;  */
    margin-top: 20px;
    height: 470px;
    padding: 10px;
    border: 2px solid #646464ec;
    border-radius: 10px ;
}

.sign_in_button {
    width: 100%;
    font-size: 20px;
    background-color: orange;
    border: 3px solid #0c0b0bec;
    border-radius: 5px ;
}
.Create_eshop_account  {
    width: 100%;
    border-radius: 5px;
}
